alabaster==0.7.12
appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
baidu-aip==2.2.18.0
beautifulsoup4==4.9.1
black==21.5b2
blurhash==1.1.4
boost==0.1
branca==0.4.1
browserhistory==0.1.2
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.5
cfgv==3.1.0
chardet==3.0.4
cheroot==8.5.2
click==7.1.2
cma==3.0.3
cmake==3.18.0
colorama==0.4.3
colorlog==4.1.0
cssselect==1.1.0
cycler==0.10.0
dataframe==0.2.1.3
decorator==4.4.2
distlib==0.3.1
docopt==0.6.2
docutils==0.17.1
emoji==1.2.0
et-xmlfile==1.0.1
face-recognition-models==0.3.0
fake-useragent==0.1.11
filelock==3.0.12
fire==0.4.0
flake8==3.8.3
Flask==1.1.2
Flask-Babel==1.0.0
folium==0.11.0
gevent==21.1.2
greenlet==1.1.0
grequests==0.6.0
hdfs==2.5.8
icon-font-to-png==0.4.1
identify==1.4.23
idna==2.9
imageio==2.8.0
imageio-ffmpeg @ file:///F:/download/imageio_ffmpeg-0.4.2-py3-none-win32.whl
imagesize==1.2.0
iniconfig==1.1.1
ipython==7.24.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaraco.functools==3.3.0
jdcal==1.4.1
jedi==0.18.0
jieba==0.42.1
Jinja2==2.11.2
keyring==3.5
kiwisolver==1.2.0
lxml==4.5.1
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.2.2
matplotlib-inline==0.1.2
mccabe==0.6.1
more-itertools==8.8.0
moviepy==1.0.3
mypy-extensions==0.4.3
MyQR==2.3.1
networkx==2.4
nodeenv==1.4.0
nose==1.3.7
numpy==1.18.5
opencv-python @ file:///F:/download/opencv_python-4.2.0.34-cp38-cp38-win32.whl
openpyxl==3.0.4
packaging==20.9
paddlehub==1.7.1
palettable==3.3.0
pandas==1.0.4
parso==0.8.2
pathspec==0.8.1
pdfkit==0.6.1
pdfminer==20191125
pdfminer.six==20200517
pdfplumber==0.5.28
pickleshare==0.7.5
Pillow==7.1.2
pluggy==0.13.1
pre-commit==2.6.0
prettytable==2.1.0
proglog==0.1.9
prompt-toolkit==3.0.19
protobuf==3.12.2
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.10.1
pydash==5.0.0
pyecharts==1.9.0
pyflakes==2.2.0
Pygments==2.9.0
PyMySQL==0.9.3
pyparsing==2.4.7
PyQt5 @ file:///F:/download/PyQt5-5.15.0-5.15.0-cp35.cp36.cp37.cp38-none-win32.whl
PyQt5-sip==12.8.0
pyquery==1.4.3
PySimpleGUI==4.43.0
pytesseract==0.3.6
pytest==6.2.4
python-dateutil==2.8.1
python-docx==0.8.10
python-magic==0.4.18
python-pptx==0.6.18
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
redis==3.5.3
regex==2021.4.4
requests==2.23.0
scikit-image==0.17.2
scipy==1.5.1
selenium==3.141.0
sentencepiece==0.1.92
simplejson==3.17.2
six==1.15.0
snapshot-selenium==0.0.2
snowballstemmer==2.1.0
sortedcontainers==2.4.0
soupsieve==2.0.1
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.3.18
stylecloud==0.5.2
tabulate==0.8.9
termcolor==1.1.0
tesseract==0.1.3
tifffile==2020.7.4
tinycss==0.4
toml==0.10.1
tqdm==4.46.0
traitlets==5.0.5
tushare==1.2.62
urllib3==1.25.9
virtualenv==20.0.26
visualdl==2.0.0b7
Wand==0.6.6
watchdog==2.1.2
wcwidth==0.2.5
web.py==0.62
websocket-client==0.59.0
Werkzeug==1.0.1
wordcloud @ file:///F:/download/wordcloud-1.7.0-cp38-cp38-win32.whl
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
yagmail==0.11.224
yapf==0.26.0
zope.event==4.5.0
zope.interface==5.4.0
