<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <title>百变女神滤镜</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="d-flex justify-content-center w-100">
    <div class="text-center w-50">
        <img style="height:100px; width: 100px" src="static/logo.png" alt=""/>
        <br><br>
        <h1><strong>百变女神滤镜</strong></h1>
        <br>
        <p>Instagram滤镜实现<br><br></p>
    </div>
</div>
{% if alert %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <strong> Oops!</strong> {{alert}}
</div>
{% endif %}

<div role="tabpanel" class="tab-pane" id="image">
    <form action="/url" method="post" enctype="multipart/form-data">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="Filter">滤镜</label>
                <select class="form-control" name="mask">
                    <option value="1">Gotham</option>
                    <!--<option value="0">Cartoonifier</option>
                    <option value="4">Inkwell</option>
                    <option value="3">LOMOfi</option>
                    <option value="2">Sepia</option>
                    <option value="5">Walden</option>
                    <option value="6">Negative</option>
                    <option value="7">Poprocket</option>
                    <option value="8">Nashville</option>-->
                </select>
            </div>
            <div class="form-group">
                <input type="file" name="image">
            </div>
            <div class="form-group"><input type="submit" class="btn btn-primary" value="上传"></div>
        </div>
    </form>
</div>

<div class="col-md-10 col-md-offset-1 tab-content" style="margin-top: 5%;">
    {% if output %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>添加成功！</strong>
    </div>
    <br>
    <img class="img-responsive center-block" src="{{output}}" alt=""/>
    <br>
    {% endif %}
</div>
</body>
</html>